/* "Just name it whatever you want" */

button {
  background-image: url(/static/assets/start.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 100px;
  width: 100px;
  border: none;
}

button span {
  display: none;
}
