<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">
    
    socket = io();
    socket.on('message', updateChatLog)
    
    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 800,
        scene: {
            preload: preload,
            create: create,
            update: update,
            render: render
        }
    };

    var game = new Phaser.Game(config);

    var startButton;

    var timerCount = 0;
    var timerOn = false;

    var chatLog; 

    function preload ()
    {
        this.load.image('carrot', 'static/assets/carrot.png');
    } 

    function create ()
    {    

        const screenCenterX = this.cameras.main.worldView.x + this.cameras.main.width / 2;
        const screenCenterY = this.cameras.main.worldView.y + this.cameras.main.height / 2;

        // Start button
        this.add.image(400,400, 'carrot');
        startButton = this.add.text(screenCenterX / 2, screenCenterY, 'start')
        .setOrigin(0.5)
        .setInteractive()
        .on('pointerdown', () => toggleTimer(this));

        timerText = this.add.text(screenCenterX, screenCenterY / 2, '', { fill: '#0f0' })
        .setOrigin(0.5);
        updateTimer();

        chatLog = ['', '', '', '', '', ''];
        chatLogText1 = this.add.text(500, 400, chatLog[0]);
        chatLogText2 = this.add.text(500, 440, chatLog[1]);
        chatLogText3 = this.add.text(500, 480, chatLog[2]);
        chatLogText4 = this.add.text(500, 520, chatLog[3]);
        chatLogText5 = this.add.text(500, 560, chatLog[4]);
        chatLogText6 = this.add.text(500, 600, chatLog[5]);

    }
    
    function toggleTimer(game) 
    {
        timerOn = !timerOn;
        if (timerOn) {
            updateChatLog("Starting timer")
            startButton.setText('pause');
        } else {
            updateChatLog("Pausing timer")
            startButton.setText('continue'); 
        }
    }

    function updateTimer() 
    {
        timerText.setText(`Time: ${Math.floor(timerCount / 60)} minutes, ${timerCount % 60} seconds`);
    }

    function updateChatLog(newLog) 
    {
        chatLog.shift();
        chatLog.push(newLog);
        console.log(newLog);

        updateChatLogUI();
    }

    function updateChatLogUI() {
        chatLogText1.setText(chatLog[0]);
        chatLogText2.setText(chatLog[1]);
        chatLogText3.setText(chatLog[2]);
        chatLogText4.setText(chatLog[3]);
        chatLogText5.setText(chatLog[4]);
        chatLogText6.setText(chatLog[5]);
    }

    var prevTime = 0;

    function update(time, delta)
    {
        if (timerOn) {
            if (Math.floor(time/1000) != prevTime) {
                prevTime = Math.floor(time/1000);
                timerCount++;
                console.log(timerCount);
            }
            updateTimer();
        }
    }

    function render ()
    {

    }


</script>

</body>
</html>