<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">
    
   
    

    var startButton;
    var startButtonText;

    var timerCount = 0;
    var timerOn = false;

    var chatLog = ['', '', '', '', '', ''];
    var inParty = [];
    var inPartyString = "";

    function preload ()
    {
        this.load.image('carrot', 'static/assets/carrot.png');
        this.load.image('background', 'static/assets/background.png');
        this.load.image('button', 'static/assets/buttonBackground.png');
    }

    function create ()
    {
        this.add.image(400, 400, 'background');
        const screenCenterX = this.cameras.main.worldView.x + this.cameras.main.width / 2;
        const screenCenterY = this.cameras.main.worldView.y + this.cameras.main.height / 2;

        // Start button
        startButton = this.add.image(screenCenterX / 2, (screenCenterY * 2) / 3, 'button')
        .setOrigin(0.5)
        .setInteractive()
        .on('pointerdown', () => toggleTimer(this));
        startButtonText = this.add.text(screenCenterX / 2, (screenCenterY * 2) / 3, 'start').setOrigin(0.5)


        timerText = this.add.text(100, 10, '', { fill: '#003300' })
        updateTimer();

        chatLogText1 = this.add.text(500, 400, chatLog[0]);
        chatLogText2 = this.add.text(500, 430, chatLog[1]);
        chatLogText3 = this.add.text(500, 460, chatLog[2]);
        chatLogText4 = this.add.text(500, 490, chatLog[3]);
        chatLogText5 = this.add.text(500, 520, chatLog[4]);
        chatLogText6 = this.add.text(500, 550, chatLog[5]);

        inPartyText = this.add.text(500, 10, "In party: " + inPartyString);
        
        socket = io();
        socket.on('message', updateChatLog);
        socket.on('user_join', updatePartyJoin);
        socket.on('user_leave', updatePartyLeave);
        socket.emit('join', '{{room}}', setUpPartyList);
    }
    
    function toggleTimer(game)
    {
        timerOn = !timerOn;
        if (timerOn) {
            updateChatLog("Starting timer")
            startButtonText.setText('pause');
        } else {
            updateChatLog("Pausing timer")
            startButtonText.setText('continue');
        }
    }

    function updateTimer()
    {
        timerText.setText(`Time: ${Math.floor(timerCount / 60)} minutes, ${timerCount % 60} seconds`);
    }

    function updateChatLog(newLog)
    {
        chatLog.shift();
        chatLog.push(newLog);
    
        updateChatLogUI();
    }

    function updateChatLogUI() {
        chatLogText1.setText(chatLog[0]);
        chatLogText2.setText(chatLog[1]);
        chatLogText3.setText(chatLog[2]);
        chatLogText4.setText(chatLog[3]);
        chatLogText5.setText(chatLog[4]);
        chatLogText6.setText(chatLog[5]);
    }

    function updatePartyJoin(player) {
        inParty.push(player.name);

        updatePartyLogUI();
    }

    function updatePartyLeave(player) {
        inParty.splice(inParty.indexOf(player.name), 1);

        updatePartyLogUI();
    }
    
    function updatePartyLogUI() {
        inPartyText.setText("In party: \n" + inParty.join('\n'));
    }

    function setUpPartyList(players) {
        inParty = players.map((player) => player.name);
        
        updatePartyLogUI();
    }

    var prevTime = 0;

    function update(time, delta)
    {
        if (timerOn) {
            if (Math.floor(time/1000) != prevTime) {
                prevTime = Math.floor(time/1000);
                timerCount++;
                console.log(timerCount);
            }
            updateTimer();
        }
    }

    function render ()
    {

    }

    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 600,
        scene: {
            preload: preload,
            create: create,
            update: update,
            render: render
        }
    };

    var game = new Phaser.Game(config);


</script>

</body>
</html>