<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

    const ROOM = '{{room}}';
    var startButton;

    var timeRemaining = 0;
    var timerOn = false;

    var chatLog = ['', '', '', '', '', ''];
    var inParty = [];
    var inPartyString = "";
    var socket;
    var isRunning = false;
    
    var selfName = "{{discord.fetch_user().name}}";
    
    function preload ()
    {
        this.load.image('carrot', 'static/assets/carrot.png');
        this.load.image('background', 'static/assets/background.png');
        this.load.image('begin_button', 'static/assets/buttonBackground.png');
        this.load.image('attack_button', 'static/assets/attackButton.png');
        this.load.image('heal_button', 'static/assets/healButton.png');
        this.load.image('tomato', 'static/assets/tomato.png');
    }

    function create ()
    {
        this.add.image(400, 400, 'background');
        this.add.image(200, 200, 'tomato').setOrigin(0.5);
        const screenCenterX = this.cameras.main.worldView.x + this.cameras.main.width / 2;
        const screenCenterY = this.cameras.main.worldView.y + this.cameras.main.height / 2;

        // Start button
        startButton = this.add.image(this.cameras.main.width - 20,  this.cameras.main.height - 20, 'begin_button')
        .setOrigin(1, 1)
        .setInteractive()
        .on('pointerdown', () => toggleTimer(this))
        .setVisible(false);


        timerText = this.add.text(100, 10, '', { fill: '#003300' })
    
        let settings = { fill: '#003300', strokeThickness: 3, fontFamily: 'Arial Black'}; // font settings
        chatLogText1 = this.add.text(20, 410, chatLog[0], settings);
        chatLogText2 = this.add.text(20, 440, chatLog[1], settings);
        chatLogText3 = this.add.text(20, 470, chatLog[2], settings);
        chatLogText4 = this.add.text(20, 500, chatLog[3], settings);
        chatLogText5 = this.add.text(20, 530, chatLog[4], settings);
        chatLogText6 = this.add.text(20, 560, chatLog[5], settings);

        inPartyText = this.add.text(500, 10, "In party: " + inPartyString);
        
        socket = io();
        socket.on('message', updateChatLog);
        socket.on('user_join', updatePartyJoin);
        socket.on('user_leave', updatePartyLeave);
        socket.on('timer', updateTimer);
        socket.on('timer_start', startWork);
        socket.on('timer_break', startBreak);
        socket.on('timer_work', startWork);
        socket.on('victory', victory);
        socket.emit('join', ROOM, setUpPartyList);
    }
    
    function toggleTimer(game)
    {
        if(!isRunning)
        {
            socket.emit('start_timer', ROOM);
            startWork();
        }
        else if(startButton.texture.key == 'attack_button')
        {
            attack();
        }
        else if(startButton.texture.key == 'heal_button')
        {
            heal();
        }
    }
    
    function updateTimer(timeRemaining)
    {
        timerText.setText(`Time remaining: ${Math.floor(timeRemaining / 60)} minutes, ${timeRemaining % 60} seconds`);
        updateButtonUI();
    }

    function updateChatLog(newLog)
    {
        chatLog.shift();
        chatLog.push(newLog);
    
        updateChatLogUI();
    }

    function updateChatLogUI() {
        chatLogText1.setText(chatLog[0]);
        chatLogText2.setText(chatLog[1]);
        chatLogText3.setText(chatLog[2]);
        chatLogText4.setText(chatLog[3]);
        chatLogText5.setText(chatLog[4]);
        chatLogText6.setText(chatLog[5]);
    }

    function updatePartyJoin(player) {
        inParty.push(player.name);

        updatePartyLogUI();
    }

    function updatePartyLeave(player) {
        inParty.splice(inParty.indexOf(player.name), 1);
        
        updatePartyLogUI();
        updateButtonUI()
    }
    
    function updatePartyLogUI() {
        inPartyText.setText("In party: \n" + inParty.join('\n'));
    }

    function setUpPartyList(players) {
        inParty = players.map((player) => player.name);
        
        updatePartyLogUI();
        updateButtonUI();
    }

    function updateButtonUI() {
        if(!isRunning)
        {
            if(inParty.length > 0 && inParty[0] == selfName) {
                startButton.setTexture('begin_button');
                startButton.setVisible(true);
            } else {
                startButton.setVisible(false);
            }
        }
    }
    
    function startBreak() {
        startButton.setTexture('attack_button');
        startButton.setVisible(true);
    }
    
    function attack() {
        socket.emit('attack', ROOM);
        startButton.setTexture('heal_button');
    }
    
    function heal() {
        socket.emit('heal', ROOM);
        startButton.setVisible(false);
    }
    
    function startWork() {
        isRunning = true;
        startButton.setVisible(false);
    }
    
    function victory() {
        isRunning = false;
        updateButtonUI();
    }
    
    var prevTime = 0;
    
    function update(time, delta)
    {
        
    }

    function render ()
    {

    }

    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 600,
        scene: {
            preload: preload,
            create: create,
            update: update,
            render: render
        }
    };

    var game = new Phaser.Game(config);


</script>

</body>
</html>